.card {
  color: black;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  height: 580px;
  position: relative;
  box-shadow: rgba(8, 29, 45, 0.1) 3px 3px 7px 2px;
  overflow: hidden;
}

.card_buttons {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.card_button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card_button_box {
  margin: 24px 30px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card_button_text {
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  font-weight: 500;
  font-size: 11px;
  align-items: center;
}

.card_button_box__keyword {
  display: flex;
  align-items: center;
  width: auto;
  cursor: default;
}

.card_button__icon {
  padding: 8px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  opacity: 1;
}

.card_button__text {
  font-weight: 500;
  padding: 8px;
  border-radius: 10px;
  background-color: white;
  height: auto;
}

.card_button__icon:hover {
  opacity: 0.4;
  transition: opacity ease-in-out 0.5s;
}

.card_image {
  width: auto;
  object-fit: cover;
  object-position: center;
  height: 272px;
}

.card_info {
  padding: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info__date {
  color: rgba(182, 188, 191, 1);
}

.card_info__title {
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_info__text {
  padding: 0;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
}

.card_info__source {
  color: rgba(182, 188, 191, 1);
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
