.footer {
  padding: 10px 60px;
  color: black;
  display: flex;
  justify-content: space-between;
}

.footer_nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  font-weight: 400;
}

.footer_text {
  color: rgb(150, 149, 149);
}

.footer_nav__content {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.footer_nav__text {
  cursor: pointer;
}

.footer_nav__social {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
